*{
	margin: 0;
	padding:0;
	font-family: system-ui;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:0.5rem 1rem;
	box-shadow: 0 0 0 0 black;
	background-color: #646ddb;
}

header h2{
	color: white;
	font-size: 2rem;
	font-weight: 800;
}

header ul{
	list-style: none;
	display: flex;
	flex-direction: row;
}

header ul li a{
	text-decoration: none;
	padding-left: 0.8rem;
	font-size: 1.2rem;
	color: white;
	font-weight: 500;
}